* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 122px;
}

nav {
    display: flex;
    align-items: center;
    margin-left: 72px;
    gap: 32px;
}

nav a {
    position: relative;
    z-index: 1;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

 .home  {
    background-image: url("/assets/home.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.home h1 {
    color: white;
   
}

.home button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 8px;

    margin-top: 24px;
    background-color: transparent;
    color: white;

    border: 2px solid #FFFFFF;
    border-radius: 5px;

    cursor: pointer;
    text-transform: uppercase;
    
}

.hide {
    display: none;
}

.theuniverse,
.explorer {
    width: 100%;
    height: 100%;
    color:white;

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


 .theuniverse {
    background-image: url("/assets/theuniverse.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.explorer {
    background-image: url("/assets/explorer.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.theuniverse h1, p,
.explorer h1, p {
    margin-left: 102px;
}

.theuniverse p,
.explorer p {
    margin-top: 16px;
}
