* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --menu-principal-color: #8D8D99;
    --menu-click-color: #FFFFFF;
    font-size: 62.5%;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
   
    
    width: 100%;
    height: 12.2rem;
}

nav {
    display: flex;
    align-items: center;
    
}

.menu nav {
    margin-left: clamp(2rem, 2rem + 3vw,7.2rem);
    margin-right: clamp(4rem, 4rem + 3vw,7.2rem);
    gap: clamp(2rem, 2rem + 3vw, 3.2rem);
}

nav a {
    color: var(--menu-principal-color);
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    color: var(--menu-click-color);
}

.navClick {
    color: var(--menu-click-color);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 
}

.homeTheme {
    background-image: url("/assets/home.png");
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    
    background-size: cover;
}

.theUniverseTheme {
    background-image: url("/assets/theuniverse.png");
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.explorerTheme {
    background-image: url("/assets/explorer.png");
    min-width: 100vw;
    min-height: 100vh;
    background-size: cover ;
    background-repeat: no-repeat;
}

nav a, 
.home h1 button,
.explorer h1,
.theuniverse h1 {
    font-family: 'Roboto';
    font-size: bold;
}

nav a {
    font-size: 2.1rem;
    line-height: 2.2rem;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 17.2rem;
    
}


.home h1 {
    color: var(--menu-click-color);
    font-size: 4.8rem;
    line-height: 12.5rem
}

.home-href {
    font-family: 'Roboto', sans-serif;
    font-size: 2.1rem;
    line-height: 2.1rem;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 3.2rem;
    
    margin-top: 2.4rem;
    background-color: transparent;
    color: var(--menu-click-color);

    border: .2rem solid var(--menu-click-color);
    border-radius: .5rem;

    cursor: pointer;
    text-transform: uppercase;

    font-size: 1.4rem;
    
}

.hide {
    display: none;
}

.theuniverse,
.explorer {
    color: var(--menu-click-color);

    display: flex;
    
}

.text {
    margin-top: 6.3rem;
    margin-left: clamp(5rem, 5rem + 2vw, 14.2rem);
    margin-right: clamp(5rem, 5rem + 2vw, 14.2rem);
    width: 64.8rem;
    height: 20.3rem;
}

.text h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 125%;
}

.text p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    line-height: 160%;
    margin-top: 1.6rem;

}

