:root {
    font-size: 62.5%;

    --ff-primary: 'Roboto', sans-serif;
    
    --background-color: hsl(var(--hue), 4%, 19%);

    --text-color: hsl(0, 0%, 100%);
    --text-color-button: #F75A68;

    --hue: 194;
    --primary-color: hsla(var(--hue), 72%, 13%, 1);
    --primary-color-dark: hsla(var(--hue), 61%, 6%, 0.5);
    --primary-color-light: hsla(var(--hue),65%, 7%, 1);

    --input-color: hsla(var(--hue), 65%, 7%, 1);

    --input-text-color: hsla(var(--hue), 6%, 51%, 1);

    --button-color: hsla(var(--hue), 91%, 25%, 1);
    --border-color: hsla(var(--hue), 31%, 42%);

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 11.5rem;
    margin-bottom: 8.7rem;
}

input {
    font-family: var(--ff-primary);
    font-size: 1.6rem;
    line-height: 100%;

    width: 46rem;
    padding: 1.5rem;

    color: var(--input-text-color);
    background-color: var(--input-color);

    border-radius: .5rem;
    border-style: none;
}

header button {
    font-family: var(--ff-primary);
    font-size: 1.4rem;
    line-height: 2.4rem;

    background-color: var(--button-color);
    color: var(--text-color);

    text-transform: uppercase;
    width: 17rem;

    border-radius: .5rem;
    border-style: none;
    cursor: pointer;
}

header {
    width: 112rem;
}

table {
    width: 100%;
}
.input-wrapper {
    display: flex;
    flex-direction: row;
}



table {
    width: 112rem;
    border-collapse: collapse;

    border: 1px solid var(--border-color);
}


table * {
    font-size: 1.4rem;
    color: var(--background-color);
}

table th,
table td,
td.user p,
td.user span {
    color: white
}

table th {
    font-family: var(--ff-primary);
    font-weight: bold;
    font-size: 2rem;
    line-height: 160%;

    background-color: var(--primary-color);
    text-align: left;
    font-weight: normal;
    padding: 1.6rem;
}

table td {
    padding: 2.4rem;
    text-align: left;
}


table tr:nth-child(odd) {
    background: var(--primary-color-light);
      
}

table tr {
    background: var(--primary-color-dark); 
}

td.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    gap: 1.6rem;
}


td.user p {
    font-family: var(--ff-primary);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

td.user span,
td.repositories,
td.followers {
    font-family: var(--ff-primary);
    font-size: 2rem;
    text-decoration: none;
    
}

td.user img {
    width: 5rem;
    height: 5rem;

    object-fit: cover;
    border-radius: 50%;
}

td button.remove {
    background-color: transparent;
    border: none;
    color: var(--text-color-button);
    cursor: pointer;
}