* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Roboto', sans-serif;
    
    
    --bg-color-empty: hsla(195, 4%, 32%, 1);
    --text-color: hsl(0, 0%, 100%);
    
    --text-color-button: #F75A68;

    --hue: 194;
    --hue-secondary: 0;

    --primary-color: hsla(var(--hue), 72%, 13%, 1);
    --primary-color-dark: hsla(var(--hue), 61%, 6%, 0.5);
    --primary-color-light: hsla(var(--hue),65%, 7%, 1);

    --secondary-color-dark: hsl(var(--hue-secondary), 0%, 16%);
    --secondary-color-light: hsl(var(--hue-secondary), 0%, 100%);


    --input-color: hsla(var(--hue), 65%, 7%, 1);

    --input-text-color: hsla(var(--hue), 6%, 51%, 1);

    --button-color: hsla(var(--hue), 91%, 25%, 1);
    --border-color: hsla(var(--hue), 31%, 42%);
    --slider-color: hsl(var(--hue), 31%, 42%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color-dark);
}

.hide {
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 11.5rem;
    margin-bottom: 8.7rem;
}

input {
    font-family: var(--ff-primary);
    font-size: 1.6rem;
    line-height: 100%;

    width: 46rem;
    padding: 1.5rem;

    color: var(--input-text-color);
    background-color: var(--input-color);

    border-radius: .5rem;
    border-style: none;

    
}

header button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    align-items: center;
    font-family: var(--ff-primary);
    font-size: 1.4rem;
    line-height: 2.4rem;

    background-color: var(--button-color);
    color: var(--secondary-color-light);

    text-transform: uppercase;
    width: 17rem;

    border-radius: .5rem;
    border-style: none;
    cursor: pointer;
}

header {
    width: 112rem;
}

table {
    width: 100%;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    gap: .8rem;
}

div#container {
    overflow-y: auto;
    
    max-height: 20.8rem;
    border-radius: 1.2rem;
    border: .1rem solid var(--border-color);
}



.emptyDivContainer {
    overflow-y: auto;

    min-height: 38.8rem;
    border-radius: 1.2rem;

    border: .1rem solid var(--border-color);

    background-color: var(--primary-color-light);
    color: var(--input-text-color);
}

div#container::-webkit-scrollbar {
    width: .6rem;
    max-height: 1.2rem;
    background-color: var(--primary-color-dark);
}

div#container::-webkit-scrollbar-thumb {
    
    background-color: var(--slider-color);
} 

table {
    width: 112rem;
    border-collapse: collapse;
}

table * {
    font-size: 1.4rem;
    color: var(--background-color);
    
}

table th,
table td,
td.user p,
td.user span,
td.user a {
    color: var(--secondary-color-light);
    text-decoration: none;
}




table th {
    font-family: var(--ff-primary);
    font-weight: bold;
    font-size: 2rem;
    line-height: 160%;

    background-color: var(--primary-color);
    text-align: left;
    font-weight: normal;
    padding: 1.6rem 2.4rem 1.6rem 4.0rem;
}

table td {
    padding: 1.6rem 2.4rem 1.6rem 4.0rem;
    text-align: left;
    
}

table tr:nth-child(odd) {
    background: var(--primary-color-light);   

}

table tr:nth-child(even) {
    border: 1px solid var(--border-color);   

}

table tr {
    background: var(--primary-color-dark); 
}

td.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    gap: 1.6rem;
    
    
}


td.user p {
    font-family: var(--ff-primary);
    font-weight: bold;
    font-size: 2rem;
    text-decoration-line: none;
    
}

td.user span,
td.repositories,
td.followers {
    font-family: var(--ff-primary);
    font-size: 2rem;
    text-decoration-line: none;
    
}

td.user img {
    width: 5rem;
    height: 5rem;

    object-fit: cover;
    border-radius: 50%;
}

td button.remove {
    background-color: transparent;
    border: none;
    color: var(--text-color-button);
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.empty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8.1rem;
    margin-top: 7rem;
    
}

.empty img {
    width: 13.2rem;
    height: 12.5rem;
}

.empty p { 
    font-family: var(--ff-primary);
    font-weight: bold;
    font-size: 4.0rem;
    line-height: 2.5rem;  
}